$white: #FFF;
$black: #000;
$red: #f00;

$top-bottom-background: #26686E;
$selected: #94BF23;
$unselected: rgb(49, 107, 107);
$over: #F00;

$white-50: rgba($white, 0.5);
$unselected-50: rgba($unselected, 0.5);